body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 350px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.input-row {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    padding: 0;
}

li {
    list-style: none;
    background: #fafafa;
    padding: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
